{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <title>기분(Given)어때?</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>GoSlideshow HTML5 Canvas</title>

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">기분(Given)어때? </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
              <a class="nav-link active" href="/">Home
                  <span class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Community</a>
          </li>
<!--          <li class="nav-item dropdown">-->
<!--              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="mypage">My page</a>-->
<!--              <div class="dropdown-menu"  aria-labelledby="mypage">-->
<!--                  <a class="dropdown-item" href="#"> ㅇ </a>-->
<!--                  <a class="dropdown-item" href="#"> Q&A </a>-->
<!--                  <a class="dropdown-item" href="#">Something else here</a>-->
<!--                  <div class="dropdown-divider"></div>-->
<!--                  <a class="dropdown-item" href="#">Separated link</a>-->
<!--              </div>-->
<!--          </li>-->
      </ul>
        {% if users == ''%}
              <form method="GET" action="/accounts/existing_login/" style="margin: 0px 10px 0px 0px;">
                  <button class="btn btn-danger" type="login">로그인</button>
              </form>
              <form method="GET" action="/accounts/signup/" style="margin: 0px 10px 0px 0px;">
                  <button class="btn btn-danger" type="submit">회원가입</button>
              </form>
        {% else %}
              <form action="/accounts/logout/" method="GET" style="margin: 0px 10px 0px 0px;">
                <button type="submit" class="btn btn-danger">로그아웃</button>
              </form>
        {% endif %}
    </div>
  </div>
</nav>

<script type="text/javascript">

 var imagePaths = ["/static/img/Magnolia.jpg", "/static/img/Lifeistrip_daejeon.jpg", "/static/img/Cafe_breezin_seoul.jpg", "/static/img/Gwangjang_seoul.jpg", "/static/img/Bukchon_seoul.jpg"];
 var showCanvas = null;
 var showCanvasCtx = null;
 var img = document.createElement("img");
 var currentImage = 0;
 var revealTimer;

 window.onload = function () {
    showCanvas = document.getElementById('GoSlideShow');
    showCanvasCtx = showCanvas.getContext('2d');
    img.setAttribute('width','720');
    img.setAttribute('height','470');
    switchImage();
    setInterval(switchImage,3000);
    }

 function switchImage() {
    img.setAttribute('src',imagePaths[currentImage++]);

    if (currentImage >= imagePaths.length) {
        currentImage = 0;
        }
    showCanvasCtx.globalAlpha = 0.1;
    revealTimer = setInterval(revealImage,100);
 }

  function revealImage() {
    showCanvasCtx.save();
    showCanvasCtx.drawImage(img,0,0,720,470);
    showCanvasCtx.globalAlpha += 0.1;

    if (showCanvasCtx.globalAlpha >= 1.0) {
        clearInterval(revealTimer);
        }
    showCanvasCtx.restore();
 }
</script>
    <style>
      .a {
        background-color: #FFE6CE;
        //margin:0% 1% 0% 1%;
      }
      .b {
        background-color: #000000;
        opacity: 0.3;
        padding: 0px 0px 0px 0px;
        width: 720px;
        height: 470px;
      }
      .c {
        padding: 90px 0px 0px 0px;
        width: 720px;
        height: 470px;
      }
      //.div { text-align: center; }

      .d {
        text-align: center;
        width: 30%;
        height: 40px;
        line-height: 40px;
        font-size: 17px;
        }

      .d_head {
        background: #ff7851;
        text-align: center;
        color: white;
        width: 10%;
        height: 40px;
        line-height: 40px;
        font-size: 17px;
        }

      .d_click {
        text-align: center;
        background: #ffce67;
        width: 30%;
        height: 40px;
        line-height: 40px;
        font-size: 17px;
        }

      .d:hover {
        background: #ffce67; // #ff7851; //
        }

      .like_font {
        color: #ff7851;
        text-decoration: none;
        }
      .like_font:hover {
        color: white;
        //color: #ff7851;
        }

    </style>
</head>
<body>

<form align="center" class="a" >
    <div style="position: relative;">
        <canvas id='GoSlideShow' width='720' height='470'>Canvas Not Supported</canvas>
        <div style="position:absolute; left: 50%; top: 50%; transform : translate(-50%, -50%);" class="b">
             <img src="/static/img/Given_1.png" width="720" height="470" >
        </div>
        <div style="position:absolute; left: 50%; top: 50%; transform : translate(-50%, -50%);" class="c">
            <img src="/static/img/Given_1_1.png" width="630" >
        </div>
    </div>
</form>
<div class="row mt-5" style= "border: 1px solid #ff7851; margin:0% 5% 0% 5%;">
    <div class="d_head" style="display: inline-block; width: 10%;">
        <strong> Test 결과</strong>
    </div>
    <div class="d_click" style="display: inline-block;">
        <a class="like_font" href="/chucheon_home/like1"> <strong>　'강원도 양구군'　</strong></a>
        <span class="badge bg-secondary" style="transform: translateY(-10%);">click !</span>
    </div>
    <div class="d" style="display: inline-block;">
        <a class="like_font" href="/chucheon_home/like2"> <strong>　'서울특별시 영등포구'　</strong></a>
        <span class="badge bg-primary" style="transform: translateY(-10%);">click !</span>
    </div>

    <div class="d" style="display: inline-block;">
        <a class="like_font" href="/chucheon_home/like3"> <strong>　'제주도 서귀포시'　</strong></a>
        <span class="badge bg-danger" style="transform: translateY(-10%);">click !</span>
    </div>
</div>

<div class="row mt-3" style="margin:0% 5% 0% 5%;">
<!--    <table class="table table-hover ">-->
<!--        <tr class="table-warning text-center">-->
<!--            <th colspan="2"> <a class="text-danger" href="/chucheon_home/like1" style="color: orange; text-decoration : none;"> 선호지역1 </a></th>-->
<!--            <th colspan="2"> <a class="text-danger" href="/chucheon_home/like2" style="color: orange; text-decoration : none;"> 선호지역2 </a></th>-->
<!--            <th colspan="2"> <a class="text-danger" href="/chucheon_home/like3" style="color: orange; text-decoration : none;"> 선호지역3 </a></th>-->
<!--        </tr>-->
<!--    </table>-->
    <table class="table table-hover mt-3">
<!--        <tr class="table-default text-center">-->
<!--            <th colspan="2"> <a href="/chucheon_home/like1" style="color: orange; text-decoration : none;"> 선호지역1 </a></th>-->
<!--            <th colspan="2"> <a href="/chucheon_home/like2" style="color: orange; text-decoration : none;"> 선호지역2 </a></th>-->
<!--            <th colspan="2"> <a href="/chucheon_home/like3" style="color: orange; text-decoration : none;"> 선호지역3 </a></th>-->
<!--        </tr>-->
        <tr class="table-danger" style="border: 1px solid #ff7851;">
            <th colspan="6" > <'바다' 여행지 TOP3 ></th>
        </tr>
        <tr >
            {% for TripLocal in TripLocals1 %}
            <td height="160px" style="padding: 12px;">
                <a><img class="image" src="{{TripLocal.image_src}}" width="180px" height="135px"/></a></td>
            <td width="350px" align="center" style="padding:12px 6px 0px 6px;"><h6>[{{TripLocal.name}}]</h6>
                <div class="mt-4">
                    <p class="lead"><h6>{{TripLocal.com_code_rg_id}}</h6></p>
                    <p class="lead"><h6>{{TripLocal.com_code_tm_id}}</h6></p>
                </div>
            </td>
            {% endfor %}
        </tr>
    </table>
    <table class="table table-hover mt-1">
        <tr class="table-danger" style="border: 1px solid #ff7851;">
            <th colspan="6">< '서천군' 여행지 TOP3 ></th>
        </tr>
        <tr>
            {% for TripLocal in TripLocals2 %}
            <td height="160px" style="padding: 12px;">
                <a><img class="image" src="{{TripLocal.image_src}}" width="180px" height="135px"/></a></td>
            <td width="350px" align="center" style="padding:12px 6px 0px 6px;"><h6>[{{TripLocal.name}}]</h6>
                <div class="mt-4">
                    <p class="lead"><h6>{{TripLocal.com_code_rg_id}}</h6></p>
                    <p class="lead"><h6>{{TripLocal.com_code_tm_id}}</h6></p>
                </div>
            </td>
            {% endfor %}
        </tr>
    </table>
    <table class="table table-hover mt-1">
        <tr class="table-danger" style="border: 1px solid #ff7851;">
            <th colspan="6">< '공예,공방' TOP3 ></th>
        </tr>
        <tr>
            {% for TripLocal in TripLocals3 %}
            <td height="160px" style="padding: 12px;">
                <a><img class="image" src="{{TripLocal.image_src}}" width="180px" height="135px"/></a></td>
            <td width="350px" align="center" style="padding:12px 6px 0px 6px;"><h6>[{{TripLocal.name}}]</h6>
                <div class="mt-4">
                    <p class="lead"><h6>{{TripLocal.com_code_rg_id}}</h6></p>
                    <p class="lead"><h6>{{TripLocal.com_code_tm_id}}</h6></p>
                </div>
            </td>
            {% endfor %}
        </tr>
    </table>
</div>
</body>
</html>
{% endblock %}